#widthauto {
    display: none;
}
.widthauto #widthauto {
    display: block;
}
.popup {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 4px;
    color: #FFF;
}
.popup a {
    color: #DDD;
}
.pop-green {
    background: #9F9;
    color: #000;
}
.pop-green a {
    color: #3498DB;
}
.pop-yellow {
    background: #FF9;
    color: #000;
}
.pop-yellow a
    color: #3498DB;
}
