#player{
	width:640px;
	height:480px;
	background:#000;
}
#floatDM{
	width:640px;
	height:480px;
	overflow:hidden;
	position:relative;
}
.floatDM{
	font-family:"SimHei";
	font-size:28px;
	position:absolute;
	color:#FFF;
	text-shadow:0 0 3px #000;
	font-weight:bold;
	white-space:nowrap;
	cursor:context-menu;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}
#floatDM img{
	background:#FFF;
	border-radius:50%;
}
#controls{
	position:absolute;
	background:#EEE;
	left:0;
	right:0;
	height:36px;
	bottom:0;
	box-sizing:border-box;
	box-shadow:0 0 20px;
	border-top:1px solid #BBB;
}
#controls>img{
	width:35px;
	height:35px;
}
#controls>input{
	position:absolute;
	display:inline-block;
	margin:0;
	padding:0;
	outline:none;
	border:none;
	left:0;
	width:215px;
	height:36px;
	line-height:36px;
	padding-left:0.5em;
	box-sizing:border-box;
}
#live_loading{
	width:15em;
	height:3em;
	line-height:3em;
	text-align:center;
	position:absolute;
	left:50%;
	top:50%;
	width:auto !important;
	margin:-1.5em 0 0 -7.5em;
	border:none !important;
}
#live_loading:hover{background-color:#FFF !important;}
#player,#controls{float:left;}
#ctrl-buttons{
	display:inline-block;
	float:right;
	height:34px;
	line-height:34px;
}
#ctrl-buttons>a{
	display:inline-block;
	text-align:center;
	cursor:pointer;
	width:35px;
	height:35px;
	float:left;
	text-decoration:none;
	-webkit-user-select:none;
	user-select:none;
	font-size:1.5em;
	font-family:"SimHei";
}
#ctrl-buttons>a:hover{background:#BBB;}
#ctrl-buttons>a:active{
	background:#333;
	color:#FFF;
}
#wp{
	position:relative;
	padding:20px 0;
	box-sizing:border-box;
}
#outer{
	background:#FFF;
	box-shadow:0 0 10px #333;
	overflow:hidden;
	position:relative;
}
#dms{
	position:absolute;
	top:0;
	left:640px;
	right:0;
	bottom:0;
	overflow:hidden;
	background:#EEE;
}
#dm{
	position:absolute;
	overflow:auto;
	top:0;
	left:0;
	right:0;
	bottom:35px;
	box-sizing:border-box;
}
#dm>div{
	border-bottom:1px solid #BBB;
	color:#000;
	overflow:hidden;
	line-height:25px;
	padding:0.2em 0.5em;
	text-overflow:ellipsis;
	width:100%;
	white-space:nowrap;
	box-sizing:border-box;
}
#dm>div:hover{background:#FFF;}
#dm>div img{vertical-align:bottom;}
#dm>div span{
	font-weight:bold;
}
#widthauto{display:none;}
.widthauto #widthauto{display:block;}
.popup{
	padding:10px;
	margin-bottom:20px;
	text-align:center;
}
.pop-green{
	border:1px solid green;
	background:#9F9;
}
.pop-yellow{
	border:1px solid orange;
	background:#FF9;
}