<!--{template common/header}-->
<div id="widthauto" class="popup pop-yellow">推荐使用窄版观看此页面哦，点击网页右上角的按钮可以快速切换的！</div>
<!--[if lt IE 9]>
<div class="popup pop-yellow">推荐使用现代浏览器（IE9+、Chrome、Firefox、Opera……）访问本页面。<br />若你确信你的浏览器是IE9+，请关掉兼容性视图。</div>
<![endif]-->
<div class="popup pop-green">推荐使用内网观看直播，更加顺畅^_^ 如何上内网？点击<b><a href="http://my.nuaa.edu.cn/forum.php?mod=viewthread&tid=291857" target="_blank">这里</a></b>！</div>
<div id="player" class="dplayer"></div>
<script src="/lib/DPlayer/plugin/hls.min.js"></script>
<script src="/lib/DPlayer/dist/DPlayer.min.js"></script>
<script src="{$plugPosi}/js/main.js"></script>
<!--{template common/footer}-->