<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="{$plugPosi}/css/main.css">
    <title>视频直播 - Powered by 纸飞机南航青年网络社区</title>
</head>
<body>
    <div class="bg-top"></div>
    <div class="bg-bottom"></div>
    <div class="bg-gradient"></div>
    <div class="wrapper">
        <!--[if lt IE 9]>
        <div class="popup pop-yellow">推荐使用现代浏览器（IE9+、Chrome、Firefox、Opera……）访问本页面。<br>若你确信你的浏览器是IE9+，请关掉兼容性视图。</div>
        <![endif]-->
        <div class="popup pop-green">推荐使用内网观看直播，更加顺畅^_^ 如何上内网？点击 <a href="http://my.nuaa.edu.cn/forum.php?mod=viewthread&tid=291857" target="_blank">这里</a>！（<a href="javascript:;" onclick="this.parentNode.classList+=' hidden'">关闭</a>）</div>
        <div id="player" class="dplayer"></div>
    </div>
    <script src="/lib/DPlayer/plugin/hls.min.js"></script>
    <script src="/lib/DPlayer/dist/DPlayer.min.js"></script>
    <script src="{$plugPosi}/js/main.js"></script>
</body>
</html>
