<!--{template common/header}-->
<link rel="stylesheet" href="{$plugPosi}/css/main.css">
<div class="wrapper">
    <div id="player" class="dplayer"></div>
</div>
<script>
    window.G = {
        host: '{$host}',
        url: '{$url}',
        title: '{$title}',
        thumbnails: '{$thumbnails}'
    };
    document.title = '{$title} - 视频直播 - Powered by 纸飞机南航青年网络社区';
</script>
<script src="/lib/dplayer4dz/plugin/flv.min.js"></script>
<script src="/lib/dplayer4dz/plugin/hls.min.js"></script>
<script src="/lib/dplayer4dz/dist/DPlayer.min.js"></script>
<script src="{$plugPosi}/js/main.js"></script>
<!--{template common/footer}-->
