<!--{template common/header}-->
<style>
.dplayer .dplayer-controller .dplayer-icons .dplayer-icon {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 30px;
}
.dplayer .dplayer-controller .dplayer-icons .dplayer-comment .dplayer-comment-box .dplayer-comment-input {
    width: 270px;
}
#video-left {
    margin: 1em;
}
#video-left li {
    padding: 0.5em 1em;
}
</style>
<div id="player" class="dplayer"></div>
<script src="/lib/DPlayer/plugin/hls.min.js"></script>
<script src="/lib/DPlayer/dist/DPlayer.min.js"></script>
<script src="{$plugPosi}/js/main.js"></script>
<!--{template common/footer}-->

